{{> navigation }}

<div id="content"> 
    <div id="user">
        <img src="{{ user.image }}" alt="Profilbild"/>
        <h1 class="text-centered">Willkommen, {{ user.name }}</h1>
        <p class="text-centered">Wähle auf der linken Seite eine Playlist aus, um sie Dir anzusehen</p>
    </div>   
</div>