<div class="title">
    <h1><span>S</span>potify</h1>
    <h1><span>P</span>laylist</h1>
    <h1><span>S</span>huffler</h1>
</div>

<div class="login">
    <a class="button" href="/login">Log in to Spotify</a>
</div>