<div id="covers">
    <img src="https://i.scdn.co/image/ab67616d000048518996ed54d0409f7393ed9c3a" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851f58374d4e62b5483fe75ea00" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851fc51b186c3b150bcfb79b369" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851e8f1be013a333a3545850997" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851ef7da6daa6fbf7586d63ba99" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851deac5adf07affb5fec422701" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485121792a065127168e1eb55812" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048510602fe9f0fd2a2c12987f262" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048510d2389e882662bc575fb50f2" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048510cb71a67899d301bd358f256" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851a0b8a1ce10fddbba6879262e" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485120ee3e86e17f17239bef1f76" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851837bb9f622e659dba1545c47" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851dcb1773e1f8d182ea736e54c" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048510602fe9f0fd2a2c12987f262" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485127a14ffdb3f5209b6e1e8fa3" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851e1e0d1d3a0ae91eb11921c6e" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485183f36c1764693b0a684f2a55" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851582d56ce20fe0146ffa0e5cf" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851009bb3b8a5b27dd004eb9031" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851306ddc325758b12928514b61" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851b7bf82ba0f3a34ffdc972ad2" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485130503dbc30e621c96913379b" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485155ef4cc7e56a02c68c3abc0f" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851ba7fe7dd76cd4307e57dd75f" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048518036855102edddcdbe84127d" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851685f8851f3be611c386c7cc0" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485126a5ecc163c7eee1d242f09b" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851b35c6fe875ad20cbf8d9e600" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851e21a289d04d5f3d623807bee" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485105bdc7164b38b5bbadeb63a3" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851744d97e2c57ba0ef4c27049a" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851a37a3a137c1a6a92912378f9" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851af6b486fa0a2959f79c8acd8" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851ebc918cfb51e9ced7349f436" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048518ccc17f29764d812062204a8" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485167033f7c78747207f001d489" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851c8e97cafeb2acb85b21a777e" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851d52bfb90ee8dfeda8378b99b" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485164c19b24ce947ffa363f8f96" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048512c65840d117b54c8d2a6cd2a" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851fed4a89ebe66064c67f2f4ea" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485164c19b24ce947ffa363f8f96" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851aa3a39be982c67213419292d" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048513168e1f416b81862ccc83594" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485105a41288f037a08fb45db5e2" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485173d0d8625dcf1e48043cfbf9" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851456c0b5d0316a80dc600802e" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851fda5556cb6981c3113df6175" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851c31d3c870a3dbaf7b53186cc" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851b32c683cba9d35640c19ef21" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851c63cf6e9ecaba10cf1f663c0" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048514ca1daad1145dec4618ea671" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485161c83e0a3e42be611729c840" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851f4adbbdcd39b09e5f0b9e03e" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485131539dc49b964e11ccc239a7" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851699a422d25adc550dc5aa11c" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851d843fabb75fef14010e30cae" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851365b3fb800c19f7ff72602da" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851006adc0cc250c8f9c5494aec" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851d5d74dc15f88ec6e02c7378d" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048517c4927f7bd6750438f01ba77" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048516d608ed9749e633a241dc1bd" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048510bd44f5ff9ecc99f7770acc5" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048517a6339d6ddfd579f77559b3c" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851fb7eedd9877b0c60597ef3e5" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851b17e6fe9a59f8876adb9f90b" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851938f1c0cc7d36a671ed226a7" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851e8107e6d9214baa81bb79bba" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851e419ccba0baa8bd3f3d7abf2" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851f46b9d202509a8f7384b90de" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851ba5db46f4b838ef6027e6f96" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851f907de96b9a4fbc04accc0d5" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851c0e7bf5cdd630f314f20586a" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048518863bc11d2aa12b54f5aeb36" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048511f7c48d7efee22e04ce91917" alt="" />

    <img src="https://i.scdn.co/image/ab67616d000048518996ed54d0409f7393ed9c3a" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851f58374d4e62b5483fe75ea00" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851fc51b186c3b150bcfb79b369" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851e8f1be013a333a3545850997" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851ef7da6daa6fbf7586d63ba99" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851deac5adf07affb5fec422701" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485121792a065127168e1eb55812" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048510602fe9f0fd2a2c12987f262" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048510d2389e882662bc575fb50f2" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048510cb71a67899d301bd358f256" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851a0b8a1ce10fddbba6879262e" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485120ee3e86e17f17239bef1f76" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851837bb9f622e659dba1545c47" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851dcb1773e1f8d182ea736e54c" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048510602fe9f0fd2a2c12987f262" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485127a14ffdb3f5209b6e1e8fa3" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851e1e0d1d3a0ae91eb11921c6e" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485183f36c1764693b0a684f2a55" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851582d56ce20fe0146ffa0e5cf" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851009bb3b8a5b27dd004eb9031" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851306ddc325758b12928514b61" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851b7bf82ba0f3a34ffdc972ad2" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485130503dbc30e621c96913379b" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485155ef4cc7e56a02c68c3abc0f" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851ba7fe7dd76cd4307e57dd75f" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048518036855102edddcdbe84127d" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851685f8851f3be611c386c7cc0" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485126a5ecc163c7eee1d242f09b" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851b35c6fe875ad20cbf8d9e600" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851e21a289d04d5f3d623807bee" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485105bdc7164b38b5bbadeb63a3" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851744d97e2c57ba0ef4c27049a" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851a37a3a137c1a6a92912378f9" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851af6b486fa0a2959f79c8acd8" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851ebc918cfb51e9ced7349f436" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048518ccc17f29764d812062204a8" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485167033f7c78747207f001d489" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851c8e97cafeb2acb85b21a777e" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851d52bfb90ee8dfeda8378b99b" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485164c19b24ce947ffa363f8f96" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048512c65840d117b54c8d2a6cd2a" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851fed4a89ebe66064c67f2f4ea" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485164c19b24ce947ffa363f8f96" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851aa3a39be982c67213419292d" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048513168e1f416b81862ccc83594" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485105a41288f037a08fb45db5e2" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485173d0d8625dcf1e48043cfbf9" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851456c0b5d0316a80dc600802e" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851fda5556cb6981c3113df6175" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851c31d3c870a3dbaf7b53186cc" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851b32c683cba9d35640c19ef21" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851c63cf6e9ecaba10cf1f663c0" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048514ca1daad1145dec4618ea671" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485161c83e0a3e42be611729c840" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851f4adbbdcd39b09e5f0b9e03e" alt="" />
    <img src="https://i.scdn.co/image/ab67616d0000485131539dc49b964e11ccc239a7" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851699a422d25adc550dc5aa11c" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851d843fabb75fef14010e30cae" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851365b3fb800c19f7ff72602da" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851006adc0cc250c8f9c5494aec" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851d5d74dc15f88ec6e02c7378d" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048517c4927f7bd6750438f01ba77" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048516d608ed9749e633a241dc1bd" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048510bd44f5ff9ecc99f7770acc5" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048517a6339d6ddfd579f77559b3c" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851fb7eedd9877b0c60597ef3e5" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851b17e6fe9a59f8876adb9f90b" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851938f1c0cc7d36a671ed226a7" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851e8107e6d9214baa81bb79bba" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851e419ccba0baa8bd3f3d7abf2" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851f46b9d202509a8f7384b90de" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851ba5db46f4b838ef6027e6f96" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851f907de96b9a4fbc04accc0d5" alt="" />
    <img src="https://i.scdn.co/image/ab67616d00004851c0e7bf5cdd630f314f20586a" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048518863bc11d2aa12b54f5aeb36" alt="" />
    <img src="https://i.scdn.co/image/ab67616d000048511f7c48d7efee22e04ce91917" alt="" />
</div>

<main>
    <div class="title">
        <h1><span>S</span>potify</h1>
        <h1><span>P</span>laylist</h1>
        <h1><span>S</span>huffler</h1>
    </div>

    <div class="login">
        <a class="button" href="/login">Log in to Spotify</a>
    </div>
</main>