* {
  font-family: "Baloo 2";
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --hover-color: hsla(81, 47%, 47%, 1);
}

a,
p {
  font-size: 24px;
}

body {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  margin: 0px;
  background: #222;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: var(--hover-color);
}

h1 {
  font-size: 40px;
}

h6 {
  margin: 0px;
}

label {
  font-size: 24px;
}

ul {
  list-style-type: none;
}

/*** Common styles ***/
.text-centered {
  text-align: center;
}

.centered {
  margin: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.box-shadow {
  box-shadow: 1px 1px 10px 2px #111;
}

.hoverable:hover {
  cursor: pointer;
}

/* Title */
.title {
  width: 200px;
  display: block;
  margin: auto;

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title h1 {
  margin-left: 10px;
  line-height: 40px;
}

.title span {
  color: #51ff4d;
}

.login {
  width: 250px;
  display: block;
  margin: 100px auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button,
.button {
  outline: none;
  border: none;
  text-transform: uppercase;
  color: black;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 0px 24px;
  transition: 0.3s;
  cursor: pointer;
}

button:hover,
.button:hover {
  color: white;
  background-color: var(--hover-color);
  transition: 0.3s;
}

.login .button {
  margin: 0px;
}

/*** Header ***/
header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 300px 1fr;
  width: 100%;
  height: 250px;
}

header img {
  align-self: center;
  justify-self: center;
  grid-row-start: 1;
  grid-row-end: row2-end;
}

header img.playlist-image {
  grid-column: 1;
  width: 200px;
  height: 200px;
}

header h1 {
  justify-self: left;
  align-self: end;
  grid-row: 1;
  grid-column: 2;
  font-size: 6rem;
  align-self: end;
  line-height: 5rem;
  text-shadow: 1px 1px 10px #111;
}

header p {
  grid-row: 2;
  grid-column: 2;
}

/***********************/
/*** Main Navigation ***/
/***********************/

nav {
  grid-row: 1;
  grid-column: 1;

  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 100px 1fr 100px;

  align-items: center;

  height: 100vh;
  background: #111;
  width: 300px;
  padding: 10px;
}

/* Playlists */
#playlists {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.navbar-item {
  border-radius: 5px;
  position: relative;
  height: 60px;
  margin: 1px 0px;
}

.navbar-item:hover,
.navbar-item.active {
  background: #eee;
  transition: 0.3s;
}

.navbar-item.active svg path,
.navbar-item:hover svg path {
  fill: black;
  transition: 0.3s;
}

.navbar-item img,
.navbar-item svg {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin: 5px 0px;
}

.navbar-item .hoverable {
  padding: 0px 5px;
  display: block;
  width: 100%;
}

.navbar-item span {
  line-height: 50px;
  font-weight: 500;
  font-size: 20px;
  display: inline-block;
}

.navbar-item span {
  padding-left: 10px;
}

.navbar-item:hover span,
.navbar-item.active span {
  color: black;
  transition: 0.3s;
}

/*** Content ***/
#content {
  grid-row: 1;
  grid-column: 2;
  overflow-y: auto;
  height: 100vh;
  position: relative;
  background: linear-gradient(
    180deg,
    hsl(var(--color), 90%, 20%) 20%,
    hsl(var(--color), 95%, 5%) 70%
  );
}

main {
  position: relative;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: calc(100vh - 250px);
}

/*** Playlist ***/
#tracks thead tr {
  border-bottom: 5px solid white;
  transform: translateY(-5px);
}

#tracks tr {
  margin: 100px;
}

#tracks tr img {
  width: 50px;
  height: 50px;
}

#controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: fixed;
  background: #101010;
  bottom: 0px;
  left: 0px;
  height: 100px;
  width: 100%;

  box-shadow: 0px -6px 10px black;
}

/*** Home ***/
#user {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#user img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0px auto 40px auto;
  display: block;
}

#user h1 {
  font-size: 55px;
}

/*** Shuffle button ***/
button[name="shuffle"] {
  position: sticky;
  float: right;
  top: 10px;
  right: 10px;
  background: hsl(100, 50%, 50%);
  display: block;
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 0;
}

button[name="shuffle"] svg {
  width: 75px;
  height: 75px;
  margin: 12.5px 12.5px;
}

button[name="shuffle"]:hover {
  cursor: pointer;
}

button[name="shuffle"]:hover svg path {
  fill: #eee;
}

#emptyPlaylist {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/*** Warning modal ***/
#warningModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
}

#warningModal .content {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  display: grid;
  grid-template-rows: 75px 1fr 75px;
  grid-template-columns: 1;

  width: 33vw;
  height: 50vh;
  background: hsl(var(--color), 90%, 20%);
}

#warningModal .content > div {
  width: 100%;
}

#warningModal p {
  color: black;
}

#warningModal h2 {
  font-size: 50px;
}

#warningModal .header {
  text-align: center;
  line-height: 75px;
  color: white;
}

#warningModal :is(.body, .controls) {
  background: rgba(0, 0, 0, 0.5);
}

#warningModal .body {
  padding: 25px 35px;
}

#warningModal .body p {
  color: white;
  line-height: 25px;
  text-align: justify;
}

#warningModal .controls {
  justify-content: center;
}

#shuffleAnimationContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
  width: 300px;
  height: 300px;

  padding: 20px;
  border-radius: 15px;

  background: rgba(0, 0, 0, 0.75);
}

#loadingCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;
  width: 33%;
  height: 33%;
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
  border-color: white white transparent white;
  margin: auto;
  animation: loading-circle-rotation 3s infinite linear;
}

@keyframes loading-circle-rotation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
